extends layout

block content
  p.mb-3.ml-4 #{explain}
  if content_se
    .text-danger.ml-5 #{content_em}
  ul.list-group.ml-5.w-50
    each item in items
      li.list-group-item.list-group-item-action
        a(href=uri+"?value="+item) #{item}
