extends layout

block content
  p.mb-3.ml-4 #{explain}
  if content_se
    .text-danger.ml-5 #{content_em}
  ul.list-group.ml-5.w-50
    each item in items
      li.list-group-item.list-group-item-action
        if item.type == "file"
          img.file.mr-1(src="/images/icon/file2.png")
        else
          img.dir.mr-1(src="/images/icon/folder2.png")
        a(href=uri+"?name="+item.name+"&type="+item.type) #{item.name}
