@font-face {
  font-family: Nunito Sans;
  src: url("../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf") format("TrueType");
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/background/gplaypattern.png");
}

a {
  color: #00B7FF;
}

.code {
  display: none;
}

.code span
{
  display: block;
  white-space: pre-wrap;
  overflow: hidden;
}

.a-out {
  position: relative;
  width: 250px;
  height: 50px;
  /* background-color: #fffbb6;
  border:1px solid #ff6a00; */
}

.a-out a {
  margin: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #000000;
  font-family: 'Nunito Sans', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.lm-out {
  position: relative;
  width: auto;
  height: 50px;
}

.lm-in {
  margin: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.t-out {
  position: relative;
  width: auto;
  height: 220px;
}

.t-in {
  margin: 0;
  display: blok;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.title_accent {
  color: #ffa500;
}

.btn-color {
  background-color: #ffa500;
  border-color: #ffa500;
}

.btn-color:hover {
  background-color: #ff8c00;
}

#displayed_countdown {
  position: fixed;
  top: 100px;
  left: 50%;
  background-color: white;
  z-index: 1;
}
