extends layout

block content
  h1= title
  p #{title}
  p https://github.com/KoenHan/gym_sfm/blob/master/gym_sfm/envs/world.py
  form(action="/play" method="POST")
    p URL:
    input(type="text" name="url" placeholder="" value="https://github.com/KoenHan/gym_sfm/blob/master/gym_sfm/envs/world.py")
    input(type="submit")
